%h1 Listing books

%legend Search Book by it's Title, Author or ISBN

=form_tag books_path, :class => "form-search", :method => "get" do
  .search
    = text_field_tag 'search', '', value: params[:search]
    = submit_tag "Search", :name => nil,
      :class => 'btn'

= render :partial => 'index_partial'

%br

- if user_signed_in?
  = link_to 'Add a new Book', new_book_path, :class => 'btn'
